# ASP.NET Core
bin/
obj/
*.user
*.suo
*.vs/
.vscode/
appsettings.*.json
*.db
*.pdb
*.cache
*.log
*.vspscc
*.vssscc

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# DotNet CLI
*.dotnet/

# ASP.NET Core publish folder
publish/

# npm / node_modules for Vue.js
node_modules/
dist/
*.log

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.yarnrc.yml

# Vue.js build output
/dist
/build
